<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

<div class="gap">
  @for(item of history; track $index) {
    <div class="item-container">
      <div class="item-detail-container">
        <ion-label class="class-name">{{ item?.predictions[0].className}}</ion-label>
        <ion-label style="color: white;">{{ Math.round((item?.predictions[0].probability) * 100) }}%</ion-label>
      </div>
      <div class="item-detail-container">
        <ion-label class="class-name">{{ item?.predictions[1].className}}</ion-label>
        <ion-label style="color: white">{{ Math.round((item?.predictions[1].probability) * 100) }}%</ion-label>
      </div>
      <div class="item-detail-container">
        <ion-label class="class-name">{{ item?.predictions[2].className}}</ion-label>
        <ion-label style="color: white;">{{ Math.round((item?.predictions[2].probability) * 100) }}%</ion-label>
      </div>
      <img [src]="item?.image" alt="">
    </div>
  }
</div>

</ion-content>
