.Hey{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkcyan;
    font-style: italic;
    font-weight: bolder;

}

#card{
    display: flex;
    justify-content: center;
    align-items: center;

}
#card2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


//.titulo {
    //color: rgb(154, 242, 171);
    //color: #add899
      //font-weight: bold;
      //text-align: center;
 // }

  ion-button {
    display: flex;
    position: relative;
    left: 50%;
    font-size: 1.2rem;
    transform: translateX(-50%);
    --background: #5aa537; 
    --color: #ffffff; 
  }

 
  p#descripcion {
    text-align: justify;
  }

  #pri{
    background-color: #5aa537;
  }

