<ion-header [translucent]="true">
  <ion-toolbar> <!--Para que sirve ion-toolbar-->
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- boton acerca de que es LeavesCares -->
  <ion-card>
  <ion-button (click)="presentAlert()">
    <ion-label>¿Qué es LeavesCares?</ion-label>
    <ion-icon slot="end" name="information-circle"></ion-icon>
  </ion-button>
  </ion-card>

<!--   <ion-card>
    <ion-card-header>
      <ion-card-title>¿Qué es LeavesCares?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Sistema avanzado de detección de enfermedades en hojas mediante Inteligencia Artificial, diseñado para ayudar a los cultivos de manzanos, plantas de papa y uva.</p>
    </ion-card-content>
  </ion-card> -->
  

  <!-- Problema y la solucion -->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">El Problema</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>La agricultura ha sido un pilar fundamental de la sociedad durante siglos, sosteniendo económicamente a numerosas comunidades y organizaciones. Sin embargo, el cuidado efectivo de los cultivos presenta desafíos significativos, especialmente en la detección y manejo de enfermedades. Aunque los agricultores adopten medidas preventivas, no siempre logran detectar a tiempo brotes de hongos o plagas, lo que requiere un monitoreo constante y a menudo implica costosos servicios de expertos agrónomos. Este gasto es viable para grandes entidades, pero representa un desafío insostenible para pequeños agricultores y emprendedores con recursos limitados, quienes se enfrentan a impactos económicos potencialmente devastadores.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Nuestra solucion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>LeavesCares es un sistema avanzado de detección de enfermedades en hojas mediante Inteligencia Artificial, diseñado para ayudar a los cultivos de manzanos, plantas de papa y uva, ofreciendo una herramienta accesible y económica para todos los niveles de la agricultura.</p>
    </ion-card-content>
  </ion-card>
<!-- 
  <ion-button (click)="openLeavesCaresModal()">
    <ion-label>¿Qué es LeavesCares?</ion-label>
    <ion-icon slot="end" name="leaf"></ion-icon>
  </ion-button>
  
 -->

 <!--  <ion-card>
    <ion-card-header>

      <ion-card-title class="titulo">Descripción</ion-card-title>

    </ion-card-header>

    

    <ion-card-content>
      <p id="descripcion">
        Una aplicación móvil desarrollada en Angular Ionic es un software multiplataforma que utiliza el framework
        Angular para construir la lógica y la estructura de la aplicación, junto con el framework Ionic para crear una
        interfaz de usuario atractiva y funcional. Ionic proporciona componentes y herramientas para diseñar
        aplicaciones que se sienten y se ven nativas en dispositivos iOS y Android. La aplicación se puede desplegar
        tanto en la web como en tiendas de aplicaciones móviles. Utiliza tecnologías web como HTML, CSS y JavaScript, lo
        que facilita la reutilización de código y la implementación rápida.
      </p>
    </ion-card-content>

  </ion-card>
 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ventajas y Desventajas de LeavesCares</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-accordion-group>
        <ion-accordion>
          <ion-item slot="header" color="primary">
            <ion-label>Ventajas</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item *ngFor="let ventaja of ventajas">
              {{ ventaja.detalle }}
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-accordion>
          <ion-item slot="header" color="danger">
            <ion-label>Desventajas</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item *ngFor="let desventaja of desventajas">
              {{ desventaja.detalle }}
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>
  

  <ion-card>
    <ion-card-header>
      <ion-card-title>Integrantes del Proyecto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let integrante of integrantes">
          <ion-avatar slot="start">
            <img [src]="integrante.imagen">
          </ion-avatar>
          <ion-label>
            <h2>{{ integrante.nombre }}</h2>
            <p>Matrícula: {{ integrante.matricula }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!--
  <ion-card>
        <ion-card-header id="card">
          <ion-card-title class="Hey"> Diego</ion-card-title>
        </ion-card-header>

        <ion-card-content id="card2">
          <p>
            edwjdwoiejdoij
          </p>
          <ul>
            <li>dj</li>
            <li>ded</li>
          </ul>
        </ion-card-content>
  </ion-card>
  -->
  <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>